<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="ms-4 mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img class="bi" width="90" height="35" src="assets/images/logo.png"/>
    </a>
    <span class="text-muted">© 2022 RecruIT Management System</span>
  </div>

  <div class="col-md-3 d-flex align-items-center justify-content-center">
    <span class="text-muted"> For Final Year Project Purpose</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
    <p>
      <span class="text-muted"> Created By: NG PIN YUAN (TP055117)</span>
    </p>
    <li class="ms-3"><a class="text-muted" href="https://github.com/pyuan07" target="_blank"> <i class="bi bi-github"></i> </a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/pinyuanng/" target="_blank"> <i class="bi bi-linkedin"></i> </a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/pyuan_07/" target="_blank"> <i class="bi bi-instagram"></i> </a></li>
  </ul>
</footer>
