
<div><h1>User <b>Edit</b></h1></div>

<form
    name="userFrom"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
>
    <div class="form-group mb-4">
        <label class="form-label" for="username">Username<span class="required-symbol"></span></label>
        <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="userFrom.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
            readonly
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
            </div>
        </div>
        <div id="passwordHelpBlock" class="form-text">
            Your username must be 3-20 characters long.
        </div>
    </div>
    <div class="form-group mb-4">
        <label class="form-label" for="email">Email<span class="required-symbol"></span></label>
        <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="userFrom.email"
            required
            email
            #email="ngModel"
            placeholder="name@example.com"
            readonly
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
                Email must be a valid email address
            </div>
        </div>
    </div>

    <div class="form-group mb-4" *ngIf="isAdmin">
        <label class="form-label" for="password">Password<span class="required-symbol"></span></label>
        <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="userFrom.password"
            required
            minlength="6"
            #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
            </div>
        </div>
        <div id="passwordHelpBlock" class="form-text">
            Your password must be at least 6 characters long.
        </div>
    </div>
    <div class="form-group mb-4">
        <label class="form-label" for="fullName">Full Name<span class="required-symbol"></span></label>
        <input
            type="text"
            class="form-control"
            name="fullName"
            [(ngModel)]="userFrom.fullName"
            required
            #fullName="ngModel"
        />
        <div class="alert-danger" *ngIf="fullName.errors && f.submitted">
            <div *ngIf="fullName.errors['required']">Full Name is required</div>
        </div>
    </div>

    <div class="form-group  mb-3">
        <label class="form-label" for="dob">Date of Birth<span class="required-symbol"></span></label>
        <div class="input-group">
            <input 
                class="form-control"
                [max]="today"
                [matDatepicker]="picker"
                name="dob"
                [(ngModel)]="userFrom.dob"
                required
                #dob="ngModel"
            >
            <div class="btn-datepicker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            </div>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <mat-hint>MM/DD/YYYY </mat-hint>
        <div class="alert-danger" *ngIf="dob.errors && f.submitted">
            <div *ngIf="dob.errors['required']">Date of Birth is required</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="gender">Gender<span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            [(ngModel)]="userFrom.gender"
            required
            name="gender"
            #gender="ngModel"
            aria-label="Select Gender"
        >
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
        </select>
        <div class="alert-danger" *ngIf="gender.errors && f.submitted">
            <div *ngIf="gender.errors['required']">Please select your gender.</div>
        </div>
    </div>
    <div class="form-group mb-4"  *ngIf="isAdmin">
        <label class="form-label" for="roles">Roles<span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            [(ngModel)]="userFrom.roles"
            required
            name="roles"
            #roles="ngModel"
            aria-label="Select Role"
        >
            <option value="ADMIN">Admin</option>
            <option value="EMPLOYER">Employer</option>
            <!-- <option value="STAFF">Staff</option> -->
            <option value="CANDIDATE">Candidate</option>
        </select>
        <div class="alert-danger" *ngIf="roles.errors && f.submitted">
            <div *ngIf="roles.errors['required']">Please select a User Role.</div>
        </div>
    </div>
    <div class="form-group mb-4" *ngIf="isAdmin">
        <label class="form-label" for="objectState">Object State<span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            [(ngModel)]="userFrom.objectState"
            required
            name="objectState"
            #objectState="ngModel"
            aria-label="Select Object State"
        >
            <option value="CREATED" Select>Created</option>
            <option value="TERMINATED">Terminated</option>
            <option value="ACTIVE">Active</option>
            <option value="PENDING">Pending</option>
            <option value="DRAFT">Draft</option>
            <option value="FROZON">Frozen</option>
        </select>
    </div>
    <div class="form-group pt-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                Cancel
            </button>
        </div>
    </div>
</form>