
<div><h1>Resume <b>Details</b></h1></div>

<div class="form-group mb-4">
    <label class="form-label" for="profilePicture">Profile Picture </label><br>
    <img height="350" width="250" src={{imageUrl}}>
    <!-- <div class="alert-danger" *ngIf="profilePicture.errors && createForm.submitted">
        <div *ngIf="profilePicture.errors['required']">Profile Picture is required</div>
    </div> -->
</div>

<div class="form-group mb-5">
    <label for="resumePdf" class="form-label">Resume PDF </label>
    <div class="d-grid">
        <a class="btn btn-primary" href="{{pdfUrl}}"> <i class="bi bi-download"></i> Download </a>
    </div>
</div>

<!-- <div class="form-group mb-4">
    <label class="form-label" for="skills">IT Related Skill</label>
    <textarea 
        class="form-control" 
        rows="3"
        name="skills"
        ngModel
        required
        #skills="ngModel"
    >
    </textarea>
    <div class="alert-danger" *ngIf="skills.errors && createForm.submitted">
        <div *ngIf="skills.errors['required']">At least one IT Related Skill is required</div>
    </div>
</div> -->

<div class="form-group mb-4"w>
    <label class="form-label" for="owner">Candidate/Owner </label>
    <input 
        class="form-control" 
        [(ngModel)]="resumeForm.candidate.fullName"
        readonly
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="tag">Tag</label>
    <mat-chip-list>
        <mat-chip *ngFor="let tag of resumeForm.tags">
            {{tag.name}}
        </mat-chip>
    </mat-chip-list>
</div>


<div class="form-group mb-4">
    <label class="form-label" for="country">Country</label>
    <input 
        class="form-control" 
        [(ngModel)]="resumeForm.country.name"
        readonly
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="totalExperienceYear">Total Experience Year in the IT field</label>
    <input
        type="number"
        OnlyNumber="true"
        class="form-control"
        [(ngModel)]="resumeForm.totalExperienceYear"
        readonly
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="salaryExpectation">Expected Salary</label>
    <div class="input-group">
        <span class="input-group-text">RM</span>
        <input
            type="number"
            class="form-control"
            [(ngModel)]="resumeForm.salaryExpectation"
            readonly
        />
    </div>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="remarks">Remarks</label>
    <textarea 
        class="form-control mt-0" 
        rows="3"
        [(ngModel)]="resumeForm.remarks"
        readonly
    >
    </textarea>
</div>


<div class="form-group mb-4">
    <label class="form-label" for="objectState">Object State</label>
    <input 
        class="form-control" 
        [(ngModel)]="resumeForm.objectState"
        readonly
        name="objectState"
        #objectState="ngModel"
    />
</div>

<div class="form-group pt-3">
    <div class="d-grid gap-2">
        <button (click)="gotoEditPage()" class="btn btn-primary">
            Edit
        </button>
        <button (click)="deleteResume()" class="btn btn-danger">
            Terminate
        </button>
        <button type="button" class="btn btn-secondary" onclick="window.history.go(-1)">
            Cancel
        </button>
    </div>
</div>

