
<div><h1><b>Available Timeslot</b> for Vacancy</h1></div>

<div class="form-group mb-4">
    <label class="form-label" for="name">Vacancy</label>
    <select 
        class="form-select" 
        required
        aria-label="Select a Vacancy"
        (change)= "onChangeVacancy($event)"
    >
        <option value="" disabled selected>-- Select Vacancy --</option>
        <option *ngFor="let vacancy of vacancyList" 
            [value]="vacancy.vacancyId" >
            {{vacancy.name}}
        </option>
    </select>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="description">Vacancy Description</label>
    <textarea 
        class="form-control" 
        rows="3"
        name="description"
        #description="ngModel"
        [(ngModel)]="vacancyDesc"
        readonly
    >
    </textarea>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="numberOfOpening">Number of Opening</label>
    <input
        type="number"
        OnlyNumber="true"
        class="form-control"
        name="numberOfOpening"
        [(ngModel)]="vacancyOpening"
        readonly
        #numberOfOpening="ngModel"
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="numberOfApplied">Number of Application</label>
    <input
        type="number"
        OnlyNumber="true"
        class="form-control"
        name="numberOfApplied"
        [(ngModel)]="appliedQty"
        readonly
        #numberOfApplied="ngModel"
    />
</div>
<br>
<hr />
<h3><b>Available Timeslot </b> for Interview</h3>
<a data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> New Timeslot</a>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Approach</th>
        <th scope="col">Booked By</th>
        <th scope="col" style="width: 50px;">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let timeslot of availableTimeslot; let i = index">
        <tr>
            <th scope="row">{{i}}</th>
            <td>{{timeslot.availableDateTime | date:'MM/dd/yyyy'}}</td>
            <td>{{timeslot.availableDateTime | date:'h:mm a'}}</td>
            <td>{{timeslot.interviewApproach}}</td>
            <td>{{timeslot.bookedBy == null ? '': timeslot.bookedBy!.fullName }}</td>
            <td>
                <a *ngIf="!isCandidate && timeslot.bookedBy== null" class="delete" data-toggle="tooltip" data-original-title="Delete" (click)="deleteTimeslot(timeslot.scheduleTimeslotId!)">
                    <i class="bi bi-trash"></i>
                </a> 
            </td>
        </tr>
    </tbody>
</table>


<div class="form-group pt-3">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-secondary" onclick="window.history.go(-1)">
            Cancel
        </button>
    </div>
</div>


<!--Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Timeslot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form
                name="userForm"
                (ngSubmit)="createForm.form.valid && onCreate(createForm)"
                #createForm="ngForm"
                novalidate>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" for="availableDateTime">Available DateTime<span class="required-symbol"></span></label>
                        <div class="input-group">
                            <input 
                                type="datetime-local"
                                class="form-control"
                                [max]="today"
                                name="availableDateTime"
                                ngModel
                                required
                                #availableDateTime="ngModel"
                            >
                        </div>
                        <div class="alert-danger" *ngIf="availableDateTime.errors && createForm.submitted">
                            <div *ngIf="availableDateTime.errors['required']">Available DateTime is required</div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="interviewApproach">Interview Approach <span class="required-symbol"></span></label>
                        <select 
                            class="form-select" 
                            ngModel
                            required
                            name="interviewApproach"
                            #interviewApproach="ngModel"
                            aria-label="Select Object State"
                        >
                            <option value="" disabled selected>-- Select a Interview Approach --</option>
                            <option value="0">Online</option>
                            <option value="1">Face to Face</option>
                        </select>
                        <div class="alert-danger" *ngIf="interviewApproach.errors && createForm.submitted">
                            <div *ngIf="interviewApproach.errors['required']">Please select an interview approach.</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Create">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
