
<div><h1>Organization <b>Create</b></h1></div>

<form
    name="organizationForm"
    (ngSubmit)="createForm.form.valid && onSubmit(createForm)"
    #createForm="ngForm"
    novalidate
>
    <div class="form-group mb-4">
        <label class="form-label" for="name">Company Name <span class="required-symbol"></span></label>
        <input
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
            #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && createForm.submitted">
            <div *ngIf="name.errors['required']">Company Name is required</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="description">Company Description <span class="required-symbol"></span></label>
        <textarea 
            class="form-control" 
            rows="3"
            name="description"
            ngModel
            required
            #description="ngModel"
        >
        </textarea>
        <div class="alert-danger" *ngIf="description.errors && createForm.submitted">
            <div *ngIf="description.errors['required']">Organization Description is required</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="countryISO">Country <span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            ngModel
            required
            name="countryISO"
            #countryISO="ngModel"
            aria-label="Select Country"
        >
            <option value="" disabled selected>-- Select Country --</option>
            <option *ngFor="let country of countryList" 
                [value]="country.iso" >
                {{country.name}}
            </option>
        </select>
        <div class="alert-danger" *ngIf="countryISO.errors && createForm.submitted">
            <div *ngIf="countryISO.errors['required']">Please select the country that you going to provide organization.</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="address">Company Address <span class="required-symbol"></span></label>
        <input
            type="text"
            class="form-control"
            ngModel
            name="address"
            required
            #address="ngModel"
        />
        <div class="alert-danger" *ngIf="address.errors && createForm.submitted">
            <div *ngIf="address.errors['required']">Company Address is required</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Contact Method
        </div>
        <div class="card-body">
            <div class="form-group mb-4">
                <label class="form-label" for="email">Email <span class="required-symbol"></span></label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    ngModel
                    required
                    email
                    #email="ngModel"
                    placeholder="name@example.com"
                />
                <div class="alert-danger" *ngIf="email.errors && createForm.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
        
            <div class="form-group mb-4">
                <label class="form-label" for="phone">Contact No <span class="required-symbol"></span></label>
                <input
                    type="tel"
                    class="form-control"
                    name="phone"
                    ngModel
                    required
                    #phone="ngModel"
                />
                <div class="alert-danger" *ngIf="phone.errors && createForm.submitted">
                    <div *ngIf="phone.errors['required']">Contact Number is required</div>
                    <div *ngIf="phone.errors['tel']">
                        Please provide a valid phone number
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="website">Official Website <span class="required-symbol"></span></label>
                <input
                    type="url"
                    class="form-control"
                    name="website"
                    ngModel
                    required
                    #website="ngModel"
                />
                <div class="alert-danger" *ngIf="website.errors && createForm.submitted">
                    <div *ngIf="website.errors['required']">Website is required</div>
                    <div *ngIf="website.errors['url']">
                        Please provide a valid URL
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="owner">Employer/Owner <span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            ngModel
            required
            name="owner"
            #owner="ngModel"
            aria-label="Select Employer/Owner"
        >
            <option value="" disabled selected>-- Select Employer/Owner --</option>
            <option *ngFor="let employer of employerList" 
                [value]="employer.userId" >
                {{employer.username}}
            </option>
        </select>
        <div class="alert-danger" *ngIf="owner.errors && createForm.submitted">
            <div *ngIf="owner.errors['required']">Please select the Employer/Owner of the organization.</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="objectState">Object State <span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            ngModel
            required
            name="objectState"
            #objectState="ngModel"
            aria-label="Select Object State"
        >
            <option value="" disabled selected>-- Select Object State --</option>
            <option value="0">Created</option>
            <option value="1">Terminated</option>
            <option value="2">Active</option>
            <option value="3">Pending</option>
            <option value="4">Draft</option>
            <option value="5">Frozen</option>
        </select>
        <div class="alert-danger" *ngIf="objectState.errors && createForm.submitted">
            <div *ngIf="objectState.errors['required']">Please select ObjectState.</div>
        </div>
    </div>

    <div class="form-group pt-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                Cancel
            </button>
        </div>
    </div>
</form>