/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Sora;
    src: url(assets/fonts/Sora-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: Sora-Bold;
    src: url(assets/fonts/Sora-Bold.ttf) format("truetype");
}


.Sora{
    font-family: Sora;
}

.Sora-Bold{
    font-family: Sora-bold;
}

.required-symbol:after{
    content:" *";
    color: red;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

html,
body {
    height: 100%;
    position: relative;
}

app-root {
    min-height: 100%;
    display: block;
    position: relative;
    padding-bottom: 56px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}