
<div><h1>Resume <b>Create</b></h1></div>

<form
    name="resumeForm"
    (ngSubmit)="createForm.form.valid && selectedTags.length > 0 && onSubmit(createForm)"
    #createForm="ngForm"
    novalidate
>
    <div class="form-group mb-4">
        <label class="form-label" for="profilePicture">Profile Picture <span class="required-symbol"></span></label>
        <input
            type="text"
            class="form-control"
            name="profilePicture"
            ngModel
            required
            #profilePicture="ngModel"
        />
        <div class="alert-danger" *ngIf="profilePicture.errors && createForm.submitted">
            <div *ngIf="profilePicture.errors['required']">Profile Picture is required</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="skills">IT Related Skill<span class="required-symbol"></span></label>
        <textarea 
            class="form-control" 
            rows="3"
            name="skills"
            ngModel
            required
            #skills="ngModel"
        >
        </textarea>
        <div class="alert-danger" *ngIf="skills.errors && createForm.submitted">
            <div *ngIf="skills.errors['required']">At least one IT Related Skill is required</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="tag">Tag <span class="required-symbol"></span></label>
        <mat-chip-list class="form-control" #chipList aria-label="Tag selection">
            <mat-chip
                *ngFor="let tag of selectedTags"
                (removed)="remove(tag)">
                {{tag}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input
                style="border: none; outline: none"
                #tagInput
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
        <div class="alert-danger" *ngIf="createForm.submitted && selectedTags.length < 1">
            <div>At least one tag is required</div>
        </div>
        <mat-hint> Can include Category, Required Skill, Type of Resume, Experience, and so on... </mat-hint>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
        </mat-option>
    </mat-autocomplete>

    <div class="form-group mb-4">
        <label class="form-label" for="country">Country <span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            ngModel
            required
            name="countryISO"
            #countryISO="ngModel"
            aria-label="Select Country"
        >
            <option value="" disabled selected>-- Select Country --</option>
            <option *ngFor="let country of countryList" 
                [value]="country.iso" >
                {{country.name}}
            </option>
        </select>
        <div class="alert-danger" *ngIf="countryISO.errors && createForm.submitted">
            <div *ngIf="countryISO.errors['required']">Please select the country that you going to provide resume.</div>
        </div>
    </div>
    
    <div class="form-group mb-4">
        <label class="form-label" for="totalExperienceYear">Total Experience Year</label>
        <input
            type="number"
            OnlyNumber="true"
            class="form-control"
            name="totalExperienceYear"
            ngModel
            #totalExperienceYear="ngModel"
        />
        <div class="alert-danger" *ngIf="totalExperienceYear.errors && createForm.submitted">
            <div *ngIf="totalExperienceYear.errors['min']">Please enter a positive number without decimal</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="salaryExpectation">Salary Expectation</label>
        <input
            type="number"
            min = "0"
            class="form-control"
            name="salaryExpectation"
            ngModel
            #salaryExpectation="ngModel"
        />
        <div class="alert-danger" *ngIf="salaryExpectation.errors && createForm.submitted">
            <div *ngIf="salaryExpectation.errors['min']">Please enter a positive number</div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label class="form-label" for="salaryExpectation">Salary Expectation</label>
        <input
            type="number"
            min = "0"
            class="form-control"
            name="salaryExpectation"
            ngModel
            #salaryExpectation="ngModel"
        />
        <div class="alert-danger" *ngIf="salaryExpectation.errors && createForm.submitted">
            <div *ngIf="salaryExpectation.errors['min']">Please enter a positive number</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="resumePdf" class="form-label">Resume PDF <span class="required-symbol"></span></label>
        <input
            type="file"
            required
            class="form-control"
            name="resumePdf"
            ngModel
            #resumePdf="ngModel"
        />
        <div class="alert-danger" *ngIf="resumePdf.errors && createForm.submitted">
            <div *ngIf="resumePdf.errors['required']">Please upload your resume here</div>
        </div>
      </div>

    <div class="form-group mb-4">
        <label class="form-label" for="remarks">Remarks</label>
        <textarea 
            class="form-control mt-0" 
            rows="3"
            name="remarks"
            ngModel
            #remarks="ngModel"
        >
        </textarea>
    </div>
    
    <div class="form-group mb-4">
        <label class="form-label" for="objectState">Object State <span class="required-symbol"></span></label>
        <select 
            class="form-select" 
            ngModel
            required
            name="objectState"
            #objectState="ngModel"
            aria-label="Select Object State"
        >
            <option value="" disabled selected>-- Select Object State --</option>
            <option value="0">Created</option>
            <option value="1">Terminated</option>
            <option value="2">Active</option>
            <option value="3">Pending</option>
            <option value="4">Draft</option>
            <option value="5">Frozen</option>
        </select>
        <div class="alert-danger" *ngIf="objectState.errors && createForm.submitted">
            <div *ngIf="objectState.errors['required']">Please select ObjectState.</div>
        </div>
    </div>

    <div class="form-group pt-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                Cancel
            </button>
        </div>
    </div>
</form>