
<div><h1>Vacancy <b>Details</b></h1></div>

<div class="form-group mb-4">
    <label class="form-label" for="name">Vacancy Title</label>
    <input
        type="text"
        class="form-control"
        name="name"
        #name="ngModel"
        [(ngModel)]="vacancyForm.name"
        readonly
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="description">Vacancy Description</label>
    <textarea 
        class="form-control" 
        rows="3"
        name="description"
        #description="ngModel"
        [(ngModel)]="vacancyForm.description"
        readonly
    >
    </textarea>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="tag">Tag</label>
    <mat-chip-list>
        <div *ngFor="let tag of vacancyForm.tags">
            <mat-chip color="primary" [selected]="tag.matched">
                {{tag.name}}
            </mat-chip>
        </div>
    </mat-chip-list>
</div>


<div class="form-group mb-4">
    <label class="form-label" for="country">Country</label>
    <input 
        class="form-control" 
        [(ngModel)]="vacancyForm.country.name"
        readonly
        name="countryISO"
        #countryISO="ngModel"
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="organizationId">Organization</label>
    <input 
        class="form-control" 
        [(ngModel)]="vacancyForm.organization.name"
        readonly
        name="organizationId"
        #organizationId="ngModel"
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="numberOfOpening">Number of Opening</label>
    <input
        type="number"
        OnlyNumber="true"
        class="form-control"
        name="numberOfOpening"
        [(ngModel)]="vacancyForm.numberOfOpening"
        readonly
        #numberOfOpening="ngModel"
    />
</div>

<div class="form-group mb-4">
    <label class="form-label" for="minSalary">Salary Range</label>
    <div class="input-group">
        <span class="input-group-text">RM</span>
        <input
            type="number"
            class="form-control"
            name="minSalary"
            [(ngModel)]="vacancyForm.minSalary"
            readonly
            #minSalary="ngModel"
        />
        <span class="input-group-text">&emsp;~&emsp;</span>
        <span class="input-group-text">RM</span>
        <input
            type="number"
            class="form-control"
            [(ngModel)]="vacancyForm.maxSalary"
            readonly
            name="maxSalary"
            #maxSalary="ngModel"
        />
    </div>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="remarks">Remarks</label>
    <textarea 
        class="form-control mt-0" 
        rows="3"
        name="remarks"
        [(ngModel)]="vacancyForm.remarks"
        readonly
        #remarks="ngModel"
    >
    </textarea>
</div>

<div class="form-group mb-4">
    <label class="form-label" for="objectState">Object State</label>
    <input 
        class="form-control" 
        [(ngModel)]="vacancyForm.objectState"
        readonly
        name="objectState"
        #objectState="ngModel"
    />
</div>

<div class="form-group mb-4 mt-4">
    <div class="form-check">
        <input 
            type="checkbox"
            class="form-check-input"
            name="enableQuiz"
            [(ngModel)]="vacancyForm.enableQuiz"
            readonly
            #enableQuiz="ngModel"
        />
        <label class="form-check-label" for="enableQuiz">
            Enable related Programming Language Quiz when candidate applying.
        </label>
    </div>
</div>


<div class="form-group pt-3">
    <div class="d-grid gap-2">
        <button data-bs-toggle="modal" data-bs-target="#remarksModal" class="btn btn-primary" *ngIf="isCandidate && !applied">
            Apply for this Vacancy
        </button>
        <button data-bs-toggle="modal" data-bs-target="#remarksModal" class="btn btn-primary" *ngIf="isCandidate && applied" disabled>
            Applied
        </button>
        <button  (click)="gotoOrganizationPage()" class="btn btn-primary" *ngIf="!isMyVancacy">
            Organization Details
        </button>
        <button (click)="gotoEditPage()" class="btn btn-primary" *ngIf="isMyVancacy || isAdmin">
            Edit
        </button>
        <button (click)="deleteVacancy()" class="btn btn-danger" *ngIf="isMyVancacy || isAdmin">
            Terminate
        </button>
        <button type="button" class="btn btn-secondary" onclick="window.history.go(-1)">
            Cancel
        </button>
    </div>
</div>


<!--Modal-->
<div class="modal fade" id="remarksModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksModalLabel">Apply for the Vacancy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-4">
                    <label class="form-label" for="remarks">Any Remarks for the application?</label>
                    <textarea 
                        class="form-control mt-0" 
                        rows="3"
                        name="remarks"
                        [(ngModel)]="applicationRemarks"
                        #remarks="ngModel"
                    >
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="border-radius: 0%" data-dismiss="modal" (click)="applyVacancy()">Apply</button>
                <button type="button" class="btn btn-secondary" style="border-radius: 0%" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
